{{#each this}}
<ul class="country-info__list">
    <li class="country-info__item">
        <img src={{this.flag}} alt="{{this.name}} flag">
        <p>{{this.name}}</p>
    </li>
    <li>
        <p class="country-info__text"><span class="country-info__text-header">Capital: </span>{{this.capital}}</p>
    </li>
    <li>
        <p class="country-info__text"><span class="country-info__text-header">Population: </span>{{this.population}}</p>
    </li>
    <li>
        <p class="country-info__text">
            <span class="country-info__text-header">Languages: </span>
            <span class="country-info__text-descr">
                {{langArrToStr this.languages}}
            </span>
            
        </p>
    </li>
</ul>
{{/each}}